<% var title = 'Users' %> <% include partials/_header.html %>

<div class="container mt-5">
    <table id="usersTable" class="table table-striped" style="width: 100%">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">Bank</th>
                <th scope="col">Postcode</th>
                <th scope="col">Phone</th>
                <th scope="col">Passport</th>
                <th scope="col" class="action-col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if (data) { %> <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td scope="row"><%= data[i].id %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].address %></td>
                <td><%= data[i].city %></td>
                <td><%= data[i].bank_name %></td>
                <td><%= data[i].postcode %></td>
                <td><%= data[i].tel %></td>
                <td><%= data[i].passport %></td>
                <td class="action-col">
                    <a href="/users/update/<%= data[i].id %>" class="btn btn-sm btn-outline-secondary" role="button"
                        >Edit</a
                    >
                    <button
                        class="btn btn-sm btn-outline-danger"
                        onclick="confirmDelete('/users/delete/<%= data[i].id %>');"
                    >
                        Delete
                    </button>
                </td>
            </tr>
            <% } %> <% } %>
        </tbody>
    </table>
</div>

<% include partials/_footer.html %>
